<form
  class="flex-container"
  [formGroup]="formFilter">
  <mat-form-field class="space-container">
    <mat-label>DDD Origem:</mat-label>
    <mat-select formControlName="dddsOrigin">
    <mat-option
      *ngFor="let ddds of dddsOfBrazil"
      [value]="ddds">
      {{ddds}}
    </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="space-container">
    <mat-label>DDD Destino:</mat-label>
    <mat-select formControlName="dddsDestiny">
    <mat-option
      *ngFor="let ddds of dddsOfBrazil"
      [value]="ddds">
      {{ddds}}
    </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="space-container">
    <mat-label>
      Tempo de duração:
    </mat-label>
    <input matInput placeholder="Ex. 20" formControlName="duration">
  </mat-form-field>

  <mat-form-field class="space-container">
    <mat-label>Escolha seu plano:</mat-label>
    <mat-select formControlName="phonePlan">
      <mat-option value="faleMais30">FaleMais 30</mat-option>
      <mat-option value="faleMais60">FaleMais 60</mat-option>
      <mat-option value="faleMais120">FaleMais 120</mat-option>
    </mat-select>
  </mat-form-field>

  <button
    mat-raised-button
    [disabled]="ifFormValid()"
    (click)="findDashboard()">
    Simular
  </button>
</form>
